doctype html
html
  head
    title PROJECT SEED
    script(src='/build/js/lib-scripts.js')
    script var PROJECT = PROJECT || {};
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  body
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='/build/js/project-templates.js')
    script(src='/build/js/project-scripts.js')
    block content
